/*HEADER*/
.header {
    background: linear-gradient(90deg, #330066, #660099, #9933FF);
    color: white;
    padding: 15px 0;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 24px;
    color: #ccccff;
}

.logo i {
    margin-right: 8px;
    color: #9999CC;
}

.user-info{
    margin: 0;
    font-size: 16px;
    background-color: #9999cc;
    color: #330066;
    padding: 5px 10px;
    border-radius: 8px;
}

/*MENU*/
/*Boton sidebar*/
.sidebar-toggle {
    font-size: 26px;
    color: #ccccff;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-toggle:hover {
    color: white;
}
.sidebar {
    position: fixed;
    top: 70px;
    left: -220px;
    width: 220px;
    height: 100%;
    background: linear-gradient(90deg, #660099, #9933FF);
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 3px 0px 10px rgba(0,0,0,0.3);
}

.sidebar.active {
    left: 0;
}

.sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-list li {
    margin: 10px 0;
}

.sidebar-list a {
    display: block;
    padding: 12px 20px;
    color: #CCCCFF;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.sidebar-list a:hover {
    background-color: #9999cc;
    color: #330066;
    border-left: 5px solid #ccccff;
}

.sidebar-list i {
    margin-right: 10px;
}
/*empuja el contenido*/
body.shift {
    margin-left: 220px;
    transition: 0.3s;
}

.logout-item a {
    color: #ffcccc;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 0;
}

body.sidebar-active {
    margin-left: 220px;
}

/* Títulos */
h1 {
    color: #333;
}

h2 {
    color: #2c3e50;
}

/* Formulario */
form {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón */
button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

/* Mensaje error */
.error {
    color: red;
}

/* Contador en esquina */
.contador-box {
    background-color: #ccccff;
    color: #330066;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
}

/* Botón cerrar sesión */
.logout {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.logout:hover {
    background: #c0392b;
}